nav {
    background-color: var(--primary-blue);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#burger_icon{
    display: none;
    width: 25px;
    height: 25px;
    background-color: var(--primary-blue);
    border: none;
}

#burger_icon:hover{
    width: 25px;
    height: 25px;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 10%;
    transition: 0.3s;
}

@media (max-width: 768px) {
    .nav-links {
        display: none; /* Hide links by default on mobile */
        flex-direction: column; /* Stack links vertically */
        position: absolute; /* Position links absolutely */
        top: 60px; /* Position below the navbar */
        left: 0;
        right: 0;
        background-color: var(--primary-blue);
        padding: 1rem 0; /* Add padding */
    }

    .nav-links.active {
        display: flex; /* Show links when active */
    }

    #burger_icon {
        display: block; /* Show hamburger on mobile */
    }
}