body{
    background-color: #f0f4f8;
}

.back-bttn{
    padding-top: 20px;
    background-color: rgba(0,50,220,0.6);
    width: max-content;
    padding: 14px 16px;
    margin: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.back-bttn:hover{
    background-color: rgba(0,50,220,0.8);
}
.zgjedh-klasen, .gender-select, .bday-container{
    margin: 5px;
    text-align: left;
}
.login-container{
    align-items: center;
    justify-content: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    width: max-content;
    box-shadow: 5px 5px 7px 0 black;
}
.login-border{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    width: max-content;
}
.login-border legend{
    font-size: 20px;
}
.login-border form{
    width: 30vw;
    display: flex;
    flex-direction: column;
}
.login-border input{
    padding: 14px 50px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0,0,0,0.1);
    margin: 5px;
    font-size: 16px;
}
.login-border input:focus:not(.login-bttn){
    background-color: rgba(0,0,0,0.2);
    border: none;
}
.login-border input:focus::placeholder{
    color: white;
}
.login-border .login-bttn{
    background-color: #1e88e5;
    color: white;
    transition: 0.3s ease-in-out;
}
.login-border .login-bttn:hover{
    background-color: #1565aa;
    cursor: pointer;
}
.login-border .others{
    margin-top: 10px;
    margin-left: 2%;
    width: 95%;
    text-align: left;
}
.login-border a{
    color: blue;
    text-decoration: none;
}
.login-border a:hover{
    text-decoration: underline;
}
header img{
    margin-left: 35%;
}
.gender-buttons{
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
    color: #1e88e5;
    font-size: 50px;
    margin-top: 5%;
}